#titulo {
    background-color: blue;
}
h1 {
    background-color: cadetblue;
}


p{
    fonr-size: 24px;
}

#p1 {
    color: chocolate;
}

.letraRosa{
    color:hotpink;
}

.letrarosa:hover{
    background-color: yellow;
}

.link{
    color:#81D8D0;
}
.link:hover{
    color: red;
}
.especial{
    font-size: 28px;
    padding: 5px;
    margin: 5px 10px 0 0;
}