<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJEMPLO 1</title>
    <link rel="stylesheet" href="../static/ejemplo.css">

</head>
<body>
    <h1>EJEMPLO DE HTML</h1>
    <p id="p1">Un parrafo 1</p>
    <p class="letrarosa">Un parrafo 2</p>
    <p>Un parrafo 3</p>
    <p>Un parrafo 4</p>
    <p class="letrarosa">Un parrafo 5</p>
    <a class="link" href="https://www.wikipedia.org/">Link Chafa</a>
    <br>
    <a class="link especial" href="https://www.wikipedia.org/">Dale Click</a>
    <br>
    <p id="Titulo">Un parrafillo</p>
    <button type="button" id="b1">BOTON</button>
    <button id="b2">Funcion</button>
</body>
    <script type="text/javascript" src="../static/ejemplo.js"></script>
</html>